/* Reset Margin */
*{
    margin: 0%;
    font-family: 'Julius Sans One';
    background-color: #2C2D2E;
}
/* Grid and style for the header */
.header{
display: grid;
grid-template-columns: 1fr 3fr 1fr;
text-align: center;
position: relative;
background-color: #2C2D2E;
font-size: 50px;
padding: 20px;
}
/* Colour change for hyperlink */
a{
    color: #FFFFFF;
    text-decoration: none;
}
/* Styling items in header except logo */
.header-item{
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    top: 40px;
  }
/* Container for hero img */
.image-container{
    position: relative;
    display: inline-block;
}
/* Img for the hero page */
.image-container img {
    display: block;
    width: 100%;
    height: auto;
}
/* Text on top of hero img */
.overlay-text{
position: absolute;
  top:400px; 
  left: 300px; 
  transform: translate(-50%, -50%); 
  background-color: #2C2D2E;
  color: rgb(255, 255, 255); 
  padding: 10px 20px; 
  font-size: 60px; 
  text-align: center;
}

.footer{
    background-color: #2C2D2E;
}

/* Top section of footer */
.footer-top{
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 4fr 2fr;
    color: #FFFFFF;
}
/* Bottom section of footer */
.footer-bot{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 4fr;
    position:relative;
}
/* Bottom section of footer text */
.footer-bot-text{
    position: relative;
    top: 10px;
    color: #FFFFFF;
}
/* Bottom section of footer img */
.footer-bot-img{
    position: relative;
    left: 35px;
}
/* Grid for individual assassin page displaying assassin*/
.character-hero{
    display: grid;
    grid-template-columns: 2fr 2fr .1fr;
}

.character-img{
    padding: 50px;
}

.character-text{
    color: #FFFFFF;
    font-size: 45px;
    position: relative;
    top: 10%;
}

.all-assassin-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative; 
    margin: 10px;
}

.all-asasssin{
    display: flex;
    align-items: center;
    justify-content: center;
}
