/* Reset Margin */
*{
    margin: 0%;
    font-family: 'Julius Sans One';
}
/* Grid and style for the header */
.header{
display: grid;
grid-template-columns: 1fr 3fr 1fr;
text-align: center;
position: relative;
background-color: #2C2D2E;
font-size: 50px;
padding: 20px;
}
/* Colour change for hyperlink */
a{
    color: #FFFFFF;
    text-decoration: none;
}

.header-item{
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    top: 40px;
  }

.image-container{
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text{
position: absolute;
  top:400px; 
  left: 300px; 
  transform: translate(-50%, -50%); 
  background-color: #2C2D2E;
  color: rgb(255, 255, 255); 
  padding: 10px 20px; 
  font-size: 60px; 
  text-align: center;
}