/* Reset Margin */
*{
    margin: 0%;
}
/* Grid and style for the header */
.header{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;
position: relative;
background-color: #2C2D2E;
padding: 10px;
font-size: 40px;
}
/* Colour change for hyperlink */
a{
    color: #FFFFFF;
    text-decoration: none;
  }
