{%extends 'layout.html'%}
{%block content%}
<div class="individual-hero">
  <div class="individual-img">
    <img src="/static/images/{{assassin[8]}}" alt="{{assassin[1]}}" width="950" height="auto">
  </div> <!-- individual-img -->
  <div class="assassin-information"> <!-- for grid formatting-->
    <div class="individual-text">
      <h1>{{assassin[1]}}</h1>
      {% if assassin[2] is not none and assassin[2] != "" %}
      <h1>"{{assassin[2]}}"</h1>
      {% endif %}
    </div> <!-- assassin-text-->


    <div class="collapsible-wrapper">
      <button class="assassin-collapsible">Expand For More Information</button>
      <div class="assassin-collapsible-content"><br>
        <h2>{{assassin[7]}}</h2> <br>
        <h2>Birthdate: {{assassin[3]}}</h2><br>
        <h2>Deathdate: {{assassin[4]}}</h2><br>
        <h2>Gender: {{assassin[5]}}</h2> <br>
      </div> <!-- acollapsible-content-->
    </div> <!-- collapsible-wrapper-->
    <script>
      var coll = document.getElementsByClassName("assassin-collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight) {
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      }
    </script>
  </div> <!-- assassin-information-->
</div> <!--assassin-hero -->

{%endblock%}