{% extends 'layout.html'%} {% block content%}
<div class="db-character-title">
  <h1>Edit character in database</h1>
</div>
<div class="db-form-container">
  <div class="db-form-square">
    <div class="db-form-container">
      <form action='/database/edit/character/{{character[0]}}' method="POST">
        <label>Name</label>
        <input type="text" name="character-name" value="{{character[1]}}"/><br />
        <label>Alias</label>
        <input type="text" name="character-alias" value="{{character[2]}}"/><br />
        <label>Birthdate</label>
        <input type="text" name="character-birthdate" value="{{character[3]}}" /><br />
        <label>Deathdate</label>
        <input type="text" name="character-deathdate" value="{{character[4]}}"/><br />
        <label>Gender</label>
        <input type="text" name="character-gender" value="{{character[5]}}"/><br />
        <label>Affiliation</label>
        <input type="text" name="character-affiliation" value="{{character[6]}}"/><br />
        <label>Description</label>
        <input type="text" name="character-description" value="{{character[7]}}"/><br />
        <label for="img">Image</label>
        <input type="file" name="character-image"><br />
        <input type="submit" value="Submit"/>
      </form>   
    </div>
  </div>
</div>
{%endblock%}