{% extends 'layout.html'%}

{% block content %}
<div class="db-character-title">
    <h1>Add game to database</h1>
</div> <!-- db-character-title-->
<div class="db-form-container">
    <div class="db-form-square">

        <form action="/database/add/game" method="POST">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="db-form-message">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <label>Title</label>
            <input type="text" name="game-title" maxlength="{{character_limit}}" pattern="[A-Za-z0-9 .,\\-]+"><br>
            <label>ReleaseDate</label>
            <input type="text" name="game-releasedate" maxlength="{{character_limit}}" pattern="[A-Za-z0-9 .,\\-]+"><br>
            <label>Description</label>
            <input type="text" name="game-description" maxlength="{{description_limit}}" pattern="[A-Za-z0-9 .,\\-]+"><br>
            <label>Image</label>
            <input type="text" name="game-image" maxlength="{{character_limit}}"><br>
            <input type="submit">

        </form>
    </div> <!-- db-form-square-->
</div> <!-- db-form-container-->
{%endblock%}