{%extends "layout.html"%}

{%block content%}
<div class="db-choice-title">
    <h1>What would you like to edit in the database?</h1>
</div> <!-- db-choice-title-->

<div class="db-choice-grid">
    <div class="db-choice-container">
        <div>
            <a href="/database/edit/character"><img src="/static/images/AllAssassins.png" alt=""></a>
            <a href="/database/edit/character">Characters</a>
        </div>
    </div> <!-- db-choice-container-->

    <div class="db-choice-container">
        <div>
            <a href=""><img src="/static/images/AllGames.png" alt=""></a>
            <a href="">Games</a>
        </div>
    </div> <!-- db-choice-container-->
    <div class="db-choice-container">
        <div>
            <a href=""><img src="/static/images/AllWeapons.png" alt=""></a>
            <a href="">Weapons</a>
        </div>
    </div> <!-- db-choice-container-->
</div> <!-- db-choice-grid -->
{%endblock%}