{% extends 'layout.html'%}
{% block content%} 
<form>
    <label>Character Name</label>
    <input type="text" name="character-name"> <br>
    <label>Character Alias</label>
    <input type="text" name="character-alias"> <br>
    <label>Character Birthdate</label>
    <input type="text" name="character-birthdate"><br>
    <label>Character Deathdate</label>
    <input type="text" name="character-deathdate"><br>
    <label>Character Gender</label>
    <input type="text" name="character-gender"><br>
    <label>Character Affiliation</label>
    <input type="text" name="character-affiliation"><br>
    <label>Character Description</label>
    <input type="text" name="character-description"><br>
    <label>Character Image</label>
    <input type="text" name="character-image"><br>
    <label>Character ProfileImage</label>
    <input type="text" name="character-profileimage"><br>
    <input type="submit" value="Submit">
</form>
{%endblock%}