{%extends "layout.html"%}
{%block content%}
<div class="img-container">
    <img src="/static/images/ac1img.png" alt="Altair Assassinating" class="home-hero-img">
    <div class="overlay-text">Assassins Creed <br> Database 12DTP</div>
</div> <!-- img-container -->
<br><br><br>
<!-- Lore information -->
 
<div class="home-lore-container">
    <div class="home-lore-text">
        <h1>Animus Technology</h1> <br>
        <p>The Animus, a device that allows characters
            to relive the memories of their ancestors, is a central element in the series.
            The name "Animus" comes from Latin, meaning "soul" or "mind," reflecting its role
            in exploring the consciousness of the past.</p>
    </div> <!--home-lore-text-->
    <div class="home-lore-img">
        <img src="/static/images/Animus.png" alt="placeholder" height="200px">
    </div> <!--home-lore-img-->
</div> <!--home-lore-container-->

<div class="home-lore-container">
    <div class="home-lore-text">
        <h1>Codex Pages</h1> <br>
        <p>
            The Codex Pages, created by Altair Ibn-La'Ahad, are vital documents that contain 
            essential teachings about the Assassin Brotherhood and the First Civilization. 
            These pages reveal secrets about the powerful Apple of Eden and offer insights 
            into the ongoing conflict between Assassins and Templars. Ultimately, the Codex 
            symbolizes the preservation of knowledge and the rich legacy that the Assassins 
            strive to uphold throughout history.</p>
    </div> <!--home-lore-text-->
    <div class="home-lore-img">
        <img src="/static/images/Codex.jpg" alt="placeholder" height="200px">
    </div> <!--home-lore-img-->
</div> <!--home-lore-container-->
{% endblock %}
