<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet">
    <title>12DTP Assassin's Creed Database - {{title}}</title>
</head>
<body>
    <header class="header" >
        <div class="header_item"><a href="/">Home</a></div>
        <div class="header_item"><a href="/all_assassins">Characters</a></div>
        <div class="header_item"><a href="/about">About</a></div>
    </header>
    <main>{%block content%}{%endblock%}</main>
    <footer>This is the footer</footer>
</body>
</html>