<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <title>12DTP Assassin's Creed Database - {{title}}</title>
</head>

<body>
    <!-- Header Goes Here -->
    <header class="header">
        <div>
            <a href="/"><img src="/static/images/aclogo.png" alt="Assassin's Creed Logo" height="150px"></a>
        </div>
        <div>
            <a href="/all_assassins" class="header-item">Assassins</a>
            <a href="/all_games" class="header-item">Games</a>
            <a href="/all_weapons" class="header-item">Weapons</a>
        </div>
    </header>
    <!-- Header Ends Here -->
    <main>{%block content%}{%endblock%}</main>
    <!-- Footer Goes Here -->
    <br><br>
    <br><br>
    <footer>
        <!-- Top part of footer goes here -->
        <div class="footer-top">
            <div></div>
            <div>
                <h1>Lore</h1>
                <p>
                    Assassin's Creed is about a conflict between Assassins and Templars spanning centuries.
                    Players relive ancestral memories to uncover secrets and influence history.
                    Themes include free will, power, and historical settings.</p>
            </div>
            <div></div>
            <div>
                <h1>Legal</h1>
                <p>
                    Images and information in this website may be subject to copyrighted and owned by Ubisoft. 
                    The images are NOT my original work This website contains content from Ubisoft used under 
                    their policy for non-commercial use. All rights to the original content belong to Ubisoft, 
                    and this material is used with proper credit in accordance with their guidelines.
                </p>
            </div>
            <div></div>
        </div> <!-- footer-top -->
        <!-- Top part of footer ends here -->
        <br>
        <br>
        <!-- Bottom part of footer goes here -->
        <div class="footer-bot">
            <div></div>

            <div class="footer-bot-text">
                <h2><a href="/dashboard">Login</a></h2>
            </div>
            <div class="footer-bot-img"><img src="/static/images/aclogo.png" alt="Assassins Creed Logo" width="auto"
                    height="50px"></div>
            <div class="footer-bot-text">
                <h2><a href="https://assassinscreed.fandom.com/wiki/Assassin%27s_Creed_Wiki" target="_blank">Source</a></h2>
            </div>

            <div></div>


        </div> <!-- footer-bot-->
    </footer>
    <!-- Footer Ends here -->
</body>

</html>