<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <title>12DTP Assassin's Creed Database - {{title}}</title>
</head>
<body>
    <!-- Header Goes Here -->
    <header class="header" >
        <div><img src="/static/images/aclogo.png" alt="Assassin's Creed Logo" height="150px"></div>
        <div>
            <a href="/" class="header-item" id="header-text">Home</a>
            <a href="/all_assassins" class="header-item" id="header-text">Characters</a>
            <a href="/about" class="header-item" id="header-text">About</a>
        </div>
    </header>
    <!-- Header Ends Here -->
    <main>{%block content%}{%endblock%}</main>
    <!-- Footer Goes Here -->
    <footer>
        <!-- Top part of footer goes here -->
        <div class="footer-top">
        <div></div> 
        <div>
            <h1>Lore</h1>
             <p>
                ChatGPT
                "Assassin's Creed is about a conflict between Assassins and Templars spanning centuries. 
                Players relive ancestral memories to uncover secrets and influence history. 
                Themes include free will, power, and historical settings."</p>
        </div>
        <div></div>
        <div>
            <h1>Ritual</h1>
            <p>In the Assassin's Creed lore, cutting off the ring finger is a symbolic ritual showing dedication 
                to the Assassin Brotherhood. It signifies loyalty, sacrifice, and adherence to the Brotherhood's principles.
            </p>
        </div>
        <div></div>
    </div>
    <!-- Top part of footer ends here -->
    <!-- Bottom part of footer goes here -->
    <div class="footer-bot">


    </div>
    
    </footer>
    <!-- Footer Ends here -->
</body>
</html>