{% extends 'layout.html'%}

{% block content %}
<div class="register-container">
    <div class="register-square">
        <h1>Register</h1>
        <div class="register-form">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="/register" method="POST">
                <input type="text" name="username" id="username" placeholder="Enter Username"><br><br>


                <div class="password-wrap">
                    <input type="password" name="password" id="password" placeholder="Enter Password"><br><br>
                    <button type="button" id="show_password">
                        <img src="/static/images/eye_closed.svg" alt="Show Password">
                    </button>
                </div> <!-- password-wrap-->
                <script>
                    // Show password button from https://www.youtube.com/watch?v=sVBRJ-0AzXw
                    const show_pw_btn = document.querySelector('#show_password')
                    const show_pw_icon = show_pw_btn.querySelector('img')
                    const pw_input = document.querySelector('#password')
                    
                    show_pw_btn.addEventListener('click', () => {
                        pw_input.type = pw_input.type === 'password' 
                            ? 'text' 
                            : 'password'
                    
                        show_pw_icon.src = show_pw_icon.src.includes('open') 
                            ? '/static/images/eye_closed.svg' 
                            : '/static/images/eye_open.svg'
                    })</script>

                <div class="password-wrap">
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password"><br><br>
                    
                    <button type="button" id="show_password2">
                        <img src="/static/images/eye_closed.svg" alt="Show Password">
                    </button>
                    
                    <script>
                        // Show password button from https://www.youtube.com/watch?v=sVBRJ-0AzXw
                        const show_pw_btn2 = document.querySelector('#show_password2')
                        const show_pw_icon2 = show_pw_btn2.querySelector('img')
                        const pw_input2 = document.querySelector('#confirm_password')
                        
                        show_pw_btn2.addEventListener('click', () => {
                            pw_input2.type = pw_input2.type === 'password' 
                                ? 'text' 
                                : 'password'
                        
                            show_pw_icon2.src = show_pw_icon2.src.includes('open') 
                                ? '/static/images/eye_closed.svg' 
                                : '/static/images/eye_open.svg'
                        })</script>
                </div> <!-- password-wrap -->
                <input type="submit" value="Register" id="register-submit"><br>
            </form>
            <br>
            <p>Have an account? <a href="/login" id="register-login">Login Here</a></p>
        </div> <!-- register-form-->
    </div> <!-- register-square -->
</div> <!-- register-container -->
{% endblock %}