{% extends 'layout.html'%}

{% block content %}
<div class="register-container">
    <div class="register-square">
        <h1>Register</h1>
        <div class="register-form">
            <form action="/register">
                <input type="text" name="username" id="username" placeholder="Enter Username" required><br><br>
                <input type="text" name="password" id="password" placeholder="Enter Password"><br><br>
                <input type="submit" value="Register" id="register-submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}